Net "a[0]" LOC="A10" | IOSTANDARD = LVCMOS33;
Net "a[1]" LOC="E11" | IOSTANDARD = LVCMOS33;
Net "a[2]" LOC="E10" | IOSTANDARD = LVCMOS33;
Net "a[3]" LOC="D10" | IOSTANDARD = LVCMOS33;

Net "b[0]" LOC="E9"  | IOSTANDARD = LVCMOS33;
Net "b[1]" LOC="A9" | IOSTANDARD = LVCMOS33;
Net "b[2]" LOC="D9" | IOSTANDARD = LVCMOS33;
Net "b[3]" LOC="E8" | IOSTANDARD = LVCMOS33;

Net "_function[0]" LOC="C8" | IOSTANDARD = LVCMOS33;
Net "_function[1]" LOC="D8" | IOSTANDARD = LVCMOS33;
Net "_function[2]" LOC="F9" | IOSTANDARD = LVCMOS33;

Net "result[0]" LOC="A7" | IOSTANDARD = LVCMOS33;
Net "result[1]" LOC="D7" | IOSTANDARD = LVCMOS33;
Net "result[2]" LOC="E7" | IOSTANDARD = LVCMOS33;
Net "result[3]" LOC="F8" | IOSTANDARD = LVCMOS33;